@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    @font-face {
        font-family: "Be Vietnam Pro";
        font-style: normal;
        font-weight: 400;
        src: url("../public/fonts/BeVietnamPro-Regular.ttf") format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Be Vietnam Pro";
        font-style: normal;
        font-weight: 500;
        src: url("../public/fonts/BeVietnamPro-Medium.ttf") format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Be Vietnam Pro";
        font-style: normal;
        font-weight: 600;
        src: url("../public/fonts/BeVietnamPro-SemiBold.ttf") format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Be Vietnam Pro";
        font-style: normal;
        font-weight: 700;
        src: url("../public/fonts/BeVietnamPro-Bold.ttf") format("truetype");
        font-display: swap;
    }
    @font-face {
        font-family: "Be Vietnam Pro";
        font-style: normal;
        font-weight: 900;
        src: url("../public/fonts/BeVietnamPro-Black.ttf") format("truetype");
        font-display: swap;
    }

    html {
        --header-position: sticky;
        --content-offset: 0px;
        --header-height: 64px;
        --header-mb: 0px;
        --header-top: 0px;
        --avatar-top: 0px;
    }

    html,
    body {
        @apply font-vietnam;
        line-height: 1.5;
    }

    header {
        height: var(--header-height);
        margin-bottom: var(--header-mb);
    }
}

@layer components {
    .header {
        @apply bg-white shadow-md;
        position: var(--header-position);
        top: var(--header-top);
        z-index: 100;
    }

    .header__position {
        position: var(--header-position);
    }

    .header__inner {
        position: var(--header-inner-position);
    }
}
